.Header__content {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: 0.326451px;

    /* Light Text / Primary */
    color: #000000;
    padding-bottom: 4px !important;
}
.Header__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: -0.154px;

    /* Light Text / Subhead */
    color: #6D7885;

    margin-top: 4px;

}

.Timeleft{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */
    letter-spacing: -0.078px;

    /* Light Text / Secondary */
    color: #818C99;
    display: flex;
    margin-top: 0 !important;

}

.PostRead .Progress__in {
    height: 24px;
    background: #4bb34b;
    border-radius: 6px;
}

.Container .Progress {
    border-radius: 6px;
}

.numberOnProgress {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    text-align: right;
    letter-spacing: -0.154px;

    /* White / White */
    color: #FFFFFF;
}

.textContent {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: -0.24px;

    /* Light Text / Primary */
    color: #000000;
    text-align: left;
}

.lastProgressInPost .Progress__in {
    background: #4bb34b;
}

.lastProgressInPost {
    margin-bottom: 34px;
}
